<div class="container">
    <p>
        Main Container
    </p>
    <div class="sub-container">
        <h3>
            Understand flex direction
        </h3>
        <p>
            Current flex direction: {{ flexDirection | titlecase }}
        </p>
        <p>
            Current flex wrap: {{ flexWrap | titlecase }}
        </p>
        <p>
            Current justify content: {{ justifyContent | titlecase }}
        </p>
        <div class="flex-container" 
        [ngStyle]="{'flex-direction': flexDirection, 
                    'flex-wrap': flexWrap,
                    'justify-content': justifyContent,
                    'align-items': alignItems}">
            <div #box [ngStyle]="{'width': boxWidth1 + 'px', 'height': boxHeight1 + 'px'}" class="box">1</div>
            <div [ngStyle]="{'width': boxWidth2 + 'px', 'height': boxHeight2 + 'px'}" class="box">2</div>
            <div [ngStyle]="{'width': boxWidth3 + 'px', 'height': boxHeight3 + 'px'}" class="box">3</div>
            <div [ngStyle]="{'width': boxWidth4 + 'px', 'height': boxHeight4 + 'px'}" class="box">4</div>
        </div>
        <p>
            Box width set: 600px
        </p>
        <p>
            Calculated box width after render: {{ box.offsetWidth }}
        </p>
        <p>
            Set box Width:
        </p>
        <input (keyup)="setBoxWidth($event.target.value)" type="number"/>
        <p>
            Set box Height:
        </p>
        <input (keyup)="setBoxHeight($event.target.value)" type="number"/>
        <div>
            <p>
                Set flex direction
            </p>
            <button (click)="this.toggleFlexDirection('row')" class="toggle-button">
                row
            </button>
            <button (click)="this.toggleFlexDirection('column')" class="toggle-button">
                column
            </button>
            <button (click)="this.toggleFlexDirection('row-reverse')" class="toggle-button">
                row-reverse
            </button>
            <button (click)="this.toggleFlexDirection('column-reverse')" class="toggle-button">
                column-reverse
            </button>
        </div>
        <div>
            <p>
                Set flex-wrap
            </p>
            <button (click)="this.changeFlexWrap('nowrap')" class="toggle-button">
                no-wrap
            </button>
            <button (click)="this.changeFlexWrap('wrap')" class="toggle-button">
                wrap
            </button>
            <button (click)="this.changeFlexWrap('wrap-reverse')" class="toggle-button">
                wrap-reverse
            </button>
        </div>
        <div>
            <p>
                Set justify-content
            </p>
            <button (click)="this.changeJustifyContent('flex-start')" class="toggle-button">
                flex-start
            </button>
            <button (click)="this.changeJustifyContent('flex-end')" class="toggle-button">
                flex-end
            </button>
            <button (click)="this.changeJustifyContent('center')" class="toggle-button">
                center
            </button>
            <button (click)="this.changeJustifyContent('space-between')" class="toggle-button">
                space-between
            </button>
            <button (click)="this.changeJustifyContent('space-around')" class="toggle-button">
                space-around
            </button>
            <button (click)="this.changeJustifyContent('space-evenly')" class="toggle-button">
                space-evenly
            </button>
        </div>
        <div>
            <p>
                Set Align Items
            </p>
            <div class="set-align-items">
                <p>
                    Change box width and height values
                </p>
                <div>
                    <label>Box 1 Width:</label>
                    <input [(ngModel)]="boxWidth1"/>
                </div>
                <div>
                    <label>Box 2 Width:</label>
                    <input [(ngModel)]="boxWidth2"/>
                </div>
                <div>
                    <label>Box 3 Width:</label>
                    <input [(ngModel)]="boxWidth3"/>
                </div>
                <div>
                    <label>Box 4 Width:</label>
                    <input [(ngModel)]="boxWidth4"/>
                </div>
                <div>
                    <label>Box 1 Height:</label>
                    <input [(ngModel)]="boxHeight1"/>
                </div>
                <div>
                    <label>Box 2 Height:</label>
                    <input [(ngModel)]="boxHeight2"/>
                </div>
                <div>
                    <label>Box 3 Height:</label>
                    <input [(ngModel)]="boxHeight3"/>
                </div>
                <div>
                    <label>Box 4 Height:</label>
                    <input [(ngModel)]="boxHeight4"/>
                </div>
            </div>
            <div>
                <button (click)="this.changeAlignItems('stretch')" class="toggle-button">
                        stretch
                </button>
                <button (click)="this.changeAlignItems('flex-start')" class="toggle-button">
                    flex-start
                </button>
                <button (click)="this.changeAlignItems('flex-end')" class="toggle-button">
                    flex-end
                </button>
                <button (click)="this.changeAlignItems('center')" class="toggle-button">
                    center
                </button>
                <button (click)="this.changeAlignItems('baseline')" class="toggle-button">
                    baseline
                </button>
            </div>
        </div>
    </div>
</div>