.container {
    background: yellow;
    border: 1px solid;
    padding: 10px;
}

.sub-container {
    background: #cacaca;
    border: 1px solid;
    padding: 10px;
}

.flex-container {
    display: flex;
}

.box {
    width: 600px;
    height: 50px;
    border: 1px solid;
    background-color: yellow;
    margin: 2px;
}

.toggle-button {
    padding: 10px;
    background: white;
    margin-right: 10px;
}

.set-align-items div {
    padding: 10px;
}

.set-align-items input {
    margin-left: 10px;
}