<div class="main-wrapper">
    <h2 class="main-heading">
        Main Component
    </h2>
    <h3>
        Analyse Hooks
    </h3>
    <div style="display: inline-block;">
        <div style="display: inline-block;" *ngFor="let hook of mainHooks">
            {{ hook }}, 
        </div>
    </div>
    <div style="margin-top: 10px;" *ngIf="inputEnabled">
        <mat-form-field>
            <mat-label>Test Input Box:</mat-label>
            <input matInput [(ngModel)]="inputData">
        </mat-form-field>
    </div>
    <div style="margin-top: 15px;">
        <button (click)="toggleInput()" mat-raised-button color="primary" class="toggle-button">Enable/Disable Input box</button>
    </div>
    <div>
        <p>
            <a [routerLink]="['/github']" routerLinkActive="router-link-active" >
                Github Pages installation steps
            </a>
        </p>
        <p>
            <a [routerLink]="['/flex']" routerLinkActive="router-link-active" >
                Learning flex
            </a>
        </p>
        <h4>
            Data sharing ways
        </h4>
        <p>
            <a [routerLink]="['/parent-to-child-input']" routerLinkActive="router-link-active" >
                Parent to Child via @Input
            </a>
        </p>
    </div>
</div>
