<div>
    <h2>
        Github pages in installation
    </h2>
    <div style="background-color: #c5c1c1;">
        <p>
            $ npm install -g angular-cli-ghpages
        </p>
        <p>
            $ ng build --prod --base-href "https://arundas1903.github.io/angular-lifecycle/"
        </p>
        <p>
            $ ngh
        </p>
    </div>
    <div>
        <p>
            <a target="_blank" href="https://arundas1903.github.io/angular-lifecycle/">
                Github Link
            </a>
        </p>
        <a [routerLink]="['']" routerLinkActive="router-link-active" >
            Home
        </a>
    </div>
</div>